@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div id="banniere">
        <div><img src="~/Images/coiffureAfroAccuiel.png" alt="Alternate Text"/></div>
    </div>
    <div class="content" >
        <div class="content-left">
            <div>
                <h3>Article 1</h3>
                <p>lor</p>
            </div>
            <div>
                <h3>Article 2</h3>
                <p>lor</p>
            </div>
        </div>
        <div class="inscrip">
            <h3>Vous voulez devenir professionnel pour Hairdressing Service ?</h3>
            <hr />
            <p>Remplissez le formulaire et Inscrivez vous !</p>
            <a asp-controller="User" asp-action="RegisterProfessionnal">Inscription</a>
        </div>
    </div>
</div>
